

/**********  *********** NEWS API STYLING  **********  ************/
#root {
  max-width: 1200px;
  margin: 0 auto;
}
.newsHeadline-button{
  background-color: red;
  color:white;
  width: 130px;
  height: 30px;
}

div.card h1{
  font-size: 1.359em;
}


.main {
  display: flex;
  flex-wrap: wrap;
}
/*---------------style paragraph AND a Tag -----------*/
div.main p{
  margin: 20px;
}

div.main a img{
  width: 100%;
}


div.main a{
  text-decoration: none;
  color: black;
}
div.main a:visited{
  color:black;
}

/*=========SHADOW && HOVER && EFFECTS ======*/
div.main a div.card {
  margin: 1rem;
  border: solid 0.02px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  width: 327px
}
div.main a div.card:hover{
  transform: scale(1.003, 1.003);
  transition: all 0.2s ease-in-out;
}
div.main a div.card:after{
  transition: opacity 0.2s ease-in-out;
}


/****************MEDIA QUERRIES***********/
@media screen and (min-width: 600px) {
div.main a div.card  {
    flex: 1 1 calc(50% - 2rem);
  }
div.main a div.card h1{
    text-align: left;
  }
  p.desc{
    margin: 12px;
  }
}

@media screen and (min-width: 900px) {
div.main a div.card  {
    flex: 1 1 calc(33% - 2rem);
  }
div.main a div.card h1{
    text-align: center;
  }
  p.desc-id{
    margin: 12px;
  }
}