

/**********  *********** NEWS API STYLING  **********  ************/
#root {
  max-width: 1200px;
  margin: 0 auto;
}
.newsHeadline-button{
  background-color: red;
  color:white;
  width: 130px;
  height: 30px;
}

div.card h1{
  font-size: 1.359em;
}


.main {
  display: flex;
  flex-wrap: wrap;
}

div.main a img{
  width: 100%;
}

div.main a{
  text-decoration: none;
}
div.main a div.card {
  margin: 1rem;
  /*border: solid 50px g;*/
  /*border-style: outset;*/
  box-shadow: 0px 1px 1px #333;
  width: 327px
}

@media screen and (min-width: 600px) {
div.main a div.card  {
    flex: 1 1 calc(50% - 2rem);
  }
div.main a div.card h1{
    text-align: left;
  }
  p.desc{
    margin: 12px;
  }
}

@media screen and (min-width: 900px) {
div.main a div.card  {
    flex: 1 1 calc(33% - 2rem);
  }
div.main a div.card h1{
    text-align: center;
  }
  p.desc-id{
    margin: 12px;
  }
}